# Rubygems broke build for rvm 1.8.7
# Temporary workound until https://github.com/rubygems/rubygems/pull/763 is merged
before_install:
  - gem update --system 2.1.11
  - gem --version
language: ruby
script: "bundle exec rake"
env:
  - DB=sqlite3
  - DB=postgres
  - DB=mysql
  - RAILS_3_0=true DB=sqlite3
  - RAILS_3_0=true DB=postgres
  - RAILS_3_0=true DB=mysql
  - RAILS_3_1=true DB=sqlite3
  - RAILS_3_1=true DB=postgres
  - RAILS_3_1=true DB=mysql
rvm:
  - 1.9.3
  - 1.8.7
  - rbx
