language: ruby
cache: bundler
sudo: false
before_install: gem install bundler
before_script: bundle exec rake db:create db:migrate

gemfile:
  - gemfiles/rails_4.2.10.gemfile
  - gemfiles/rails_5.1.6.gemfile
  - gemfiles/rails_5.2.1.gemfile

rvm:
  - 2.6.3
  - 2.5.5
  - 2.4.6

env:
  - DB=sqlite3
  - DB=postgres
  - DB=mysql

notifications:
  webhooks:
    - https://webhooks.gitter.im/e/40dc875af26f64f39090
